@model ProjectConfigModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <span>Bu projede kullanılan config değerleri</span><br/><br />
    <span>Name - @Model.Name</span><br />
    <span>Value - @Model.Value</span>
</div>
